<!-- wp:ntp/network-template-part {"slug":"header","context":"network"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|70"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--30);margin-bottom:var(--wp--preset--spacing--70)">
	<!-- wp:ntp/network-template-part {"slug":"main-home","context":"site"} /-->
</main>
<!-- /wp:group -->
<!-- wp:ntp/network-template-part {"slug":"footer","context":"network"} /-->
